= search_form_for @search || Orga.search(params[:q]) do |f|
  = f.label :search, t('.label')
  %em.fa.fa-users
  = f.search_field :name_or_city_or_department_or_region_name_or_url_or_diaspora_or_tags_or_description_cont_any,
    id: :q_search, size: 16,
    placeholder: t('.title', entity: Orga.model_name.human)
  = f.button class: :search do
    %em.fa.fa-search
    %span.label= t '.label'
