- params[:q] = {} if params[:q].nil?
- p = params[:q].clone

%ul.counters
  - Kind.all.each do |kind|
    - p[:kind_id_eq] = kind.id
    %li{ title: Kind.human_attribute_name("name_#{kind.name}") }
      = link_to orgas_url(q: p) do
        %em.fa{ class: "fa-#{kind.icon}" }
        = Orga.where(kind: kind).count

  %li
    - p[:kind_id_eq] = params[:q][:kind_id_eq]
    - p[:active_eq] = true
    = link_to orgas_url(q: p) do
      %em.fa.fa-heartbeat
      = Orga.where(active: true).count
