=====================================================
#{Orga.human_attribute_name(:kind).concat(':').ljust 12         } #{@orga.kind.name}
#{Orga.human_attribute_name(:name).concat(':').ljust 12         } #{@orga.name}
#{Orga.human_attribute_name(:place_name).concat(':').ljust 12   } #{@orga.place_name}
#{Orga.human_attribute_name(:address).concat(':').ljust 12      } #{@orga.address}
#{Orga.human_attribute_name(:city).concat(':').ljust 12         } #{@orga.city}
#{Orga.human_attribute_name(:department).concat(':').ljust 12   } #{@orga.department}
#{Orga.human_attribute_name(:region).concat(':').ljust 12       } #{@orga.region}
#{Orga.human_attribute_name(:url).concat(':').ljust 12          } #{@orga.url}
#{Orga.human_attribute_name(:diaspora).concat(':').ljust 12     } #{@orga.diaspora}
#{Orga.human_attribute_name(:feed).concat(':').ljust 12         } #{@orga.feed}
#{Orga.human_attribute_name(:contact).concat(':').ljust 12      } #{@orga.contact}
#{Orga.human_attribute_name(:submitter).concat(':').ljust 12    } #{@orga.submitter}
#{Orga.human_attribute_name(:tags).concat(':').ljust 12         } #{@orga.tags}
- if @orga.active.present?
  #{Orga.human_attribute_name(:active).concat(':').ljust 12     } #{t @orga.active.to_s}
- unless @orga.description.blank?
  #{Orga.human_attribute_name(:description).concat(':').ljust 12}
  = wrap(strip_tags(@orga.description).gsub(/&#13;/, '')).gsub /^/, '  '
=====================================================
