=====================================================
#{Event.human_attribute_name(:title).concat(':').ljust 12      } #{@event.title}
#{Event.human_attribute_name(:start_time).concat(':').ljust 12 } #{l @event.start_time, format: :at}
#{Event.human_attribute_name(:end_time).concat(':').ljust 12   } #{l @event.end_time, format: :at}
-if @event.repeat > 0
  #{Event.human_attribute_name(:repeat).concat(':').ljust 12   } #{@event.repeat}
  #{Event.human_attribute_name(:rule).concat(':').ljust 12     } #{t @event.rule, scope: 'activerecord.attributes.event.rule_values'}
#{Event.human_attribute_name(:place_name).concat(':').ljust 12 } #{@event.place_name}
#{Event.human_attribute_name(:address).concat(':').ljust 12    } #{@event.address}
#{Event.human_attribute_name(:city).concat(':').ljust 12       } #{@event.city}
#{Event.human_attribute_name(:region).concat(':').ljust 12     } #{@event.region}
#{Event.human_attribute_name(:locality).concat(':').ljust 12   } #{t "attributes.locality_#{@event.locality}"}
#{Event.human_attribute_name(:url).concat(':').ljust 12        } #{@event.url}
#{Event.human_attribute_name(:contact).concat(':').ljust 12    } #{@event.contact}
#{Event.human_attribute_name(:submitter).concat(':').ljust 12  } #{@event.submitter}
#{Event.human_attribute_name(:tags).concat(':').ljust 12       } #{@event.tags}
#{Event.human_attribute_name(:description).concat(':').ljust 12}
= wrap(strip_tags(@event.description).gsub(/&#13;/, '')).gsub /^/, '  '
=====================================================
