.region_selector
  display: inline-block
  h3
    margin: 0
    .placeholder
      color: gray
  ul
    margin: 0
    z-index: 10
    display: none
    position: absolute
    margin-top: -7em
    list-style: none
    box-shadow: 1px 1px 4px gray
    background-color: white
    border-bottom-left-radius: 0.4em
    border-bottom-right-radius: 0.4em
    li
      margin: 0
      a
        display: block
        padding: 0.2em 1em
        border-top: solid thin black
        &:hover
          text-shadow: 1px 1px 0.2em gray
          background-color: #eee
        em.fa-globe
          color: red
  &:hover ul
    display: block

body.stats h3
  text-align: center

table.list.dates
  th, td
    padding: 0 0.6em

  .sparkline
    padding: 0
