.sessions
  form
    margin: 1em auto
    display: inline-block
    .field, .actions
      text-align: left
      margin: 0.5em
      *
        vertical-align: middle
      .helper p
        margin: 1px 5px 1px 6.6em
      label
        width: 8em
        display: inline-block
        &:after
          content: ':'
    /*
      input, textarea, select
        font-size: larger
        background-color: #FFB
    .actions
      margin-left: 6.75em
      margin-bottom: 10px

.logout
  margin: 2em auto
